@import url(https://fonts.googleapis.com/css?family=Concert+One);
@import url(https://fonts.googleapis.com/css?family=Advent+Pro:300);

html,body{
    height: 100vh;
}
#range_con{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
}
label[for=range] {
position: relative;
/* top: 50%; */
/* left: 50%; */
/* margin-left: -175px; */
/* margin-top: -32px; */
height: 29px;
padding-top: 6px;
width: 280px;
padding-left: 13px;
/* -webkit-transform: skew(-62deg); */
/* overflow: hidden;     */
padding-bottom: 10px;
z-index: 1;
margin:0px 0px 6px 0px;
/* background-color: #9FE472; */
left: 8px;
}
label[for=ran]:after {
content: "";
position: absolute;
bottom: 11px;
left: 10px;
height: 9px;
width: 278px;
box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.51);
/* -webkit-transform: skew(62deg); */
}
input[type=range] {
cursor: pointer;
border: 2px solid #aaa;
-webkit-appearance: none;
/* background-color: transparent; */
width: 280px;
height: 18px;
position: relative;
z-index: 99;
  /* padding-top:10px; */
overflow:hidden;
margin: 0;
margin-left: -20px;
transform-style: preserve-3d;
perspective: 300;
transform-origin: 50% 50% 280px;
perspective-origin: 50% -121%;
/* transform: skew(62deg); */
background-color: #fff ;
border-radius: 8px;
}
input[type=range]:focus{
  outline:none;
}
input[type="range"]::-webkit-slider-thumb {
    position:relative;  
    -webkit-appearance: none;
    cursor:pointer;
    background-color: #FEE715;
    width: 10px;
    height: 30px;
    border-radius: 10%;
    box-shadow: 2px 5px 10px -1px #FEE715,
    -14.5px 0 0 10px #FEE715,
    -44px 0 0 10px #FEE715,
    -73.5px 0 0 10px #FEE715,
    -103px 0 0 10px #FEE715,
    -132.5px 0 0 10px #FEE715,
    -162px 0 0 10px #FEE715,
    -191.5px 0 0 10px #FEE715,
    -221px 0 0 10px #FEE715,
    -250.5px 0 0 10px #FEE715,
    -280px 0 0 10px #FEE715;
  z-index:999;
}
input[type="range"]::-webkit-slider-thumb:after {
content: "";
position: absolute;
z-index: 1;
left: -285px;
top: -28px;
width: 280px;
height: 140px;
background: #9FE472;
/* transform: rotateX(90deg); */
transform-origin: 0 0px 0;
/* transform: rotateX(90deg) translateY(-140px) translateZ(-18px); */
}
input[type="range"]::-webkit-slider-thumb:before {
content: "< >";
font-family: 'Concert One', cursive;
position: absolute;
background: #ffffff;
background: -moz-linear-gradient(top, #eaebe5 0%, #dcdedd 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaebe5), color-stop(100%,#dcdedd));
background: -webkit-linear-gradient(top, #eaebe5 0%,#dcdedd 100%);
background: -o-linear-gradient(top, #eaebe5 0%,#dcdedd 100%);
background: -ms-linear-gradient(top, #eaebe5 0%,#dcdedd 100%);
background: linear-gradient(to bottom, #eaebe5 0%,#dcdedd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaebe5', endColorstr='#dcdedd',GradientType=0 );
top: -2px;
left: 0px;
border-radius: 2px;
color: #5a5a5a;
text-shadow: 0 1px 0 white;
height: 22px;
width: 32px;
border-top: 1px solid white;
border-left: 1px solid white;
box-sizing: border-box;
text-align: center;
line-height: 19px;
font-size: 17px;
z-index: 2;
}
input[type="range"]::-webkit-slider-runnable-track:before {
content: "";
position: absolute;
height: 38px;
width: 280px;
background: #000;
background: -moz-linear-gradient(top, #dfdfdf 0%, #d8d8d8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#d8d8d8));
background: -webkit-linear-gradient(top, #dfdfdf 0%,#d8d8d8 100%);
background: -o-linear-gradient(top, #dfdfdf 0%,#d8d8d8 100%);
background: -ms-linear-gradient(top, #dfdfdf 0%,#d8d8d8 100%);
background: linear-gradient(to bottom, #dfdfdf 0%,#d8d8d8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#d8d8d8',GradientType=0 );
bottom: 0;
left: 0;
}
input[type="range"]::-webkit-slider-runnable-track:after {
content: "";
position: absolute;
height: 10px;
width: 270px;
background: #101820FF;
top: 0;
right: 26px;
transform: skew(62deg);
}
input[type=range]:before {
content: "";
position: absolute;
background: #101820FF;
box-shadow:0 1px 0 rgba(10, 18, 20, 0.7);
width: 0px;
left: 0;
height: 1px;
top: 18px;
z-index: 1;
}
input[type=range]:after {
content: "";
position: absolute;
background: #101820FF;
width: 8px;
left: 22px;
border-radius: 40%;
height: 8px;
top: 3px;
z-index: 1;
box-shadow:30px 0 0 #101820FF,
60px 0 0 #101820FF,
90px 0 0 #101820FF,
120px 0 0 #101820FF,
150px 0 0 #101820FF,
180px 0 0 #101820FF,
210px 0 0 #101820FF,
240px 0 0 #101820FF,
270px 0 0 #101820FF,
60px 1px 0 #101820FF,
90px 1px 0 #101820FF,
120px 1px 0 #101820FF,
150px 1px 0 #101820FF,
180px 1px 0 #101820FF,
210px 1px 0 #101820FF,
240px 1px 0 #101820FF,
270px 1px 0 #101820FF;
}

.budget {
position: relative;
text-transform: uppercase;
text-align: center;
width: 83%;
/* font-size: 1.6em; */
/* font-family: 'Advent Pro', sans-serif; */
color: #fff;
background:#990011;
/* color:'#fff', */
margin:10px 0px;
padding:2px 4px;
border-radius:4px;

text-shadow: 2px 2px 2px #000;
/* font-weight: 700; */
/* text-transform: ; */
}
.output {
position: relative;
/* bottom: 50%; */
/* left: 0; */
/* margin-bottom: -100px; */
text-align: center;
width: 210px;
padding:4px 0px 4px 26px;
border-radius: 6px;
background-color: #fff;
/* font-size: 1.6em; */
/* font-family: 'Advent Pro', sans-serif; */
font-weight: 700;
color: #101820;
text-shadow: 0px 0px 1px #990011;
/* outline: none; */
border: none;
}
#unit_{
  padding: 5px 4px 5px 4px;
  font-size: 0.8em;
  /* font-family: 'Advent Pro', sans-serif; */
  /* font-weight: 700; */
  /* background-color: #fff; */
  color:#000;
  text-shadow: 0px 0px 2px #fff;
  border: 1px solid #10182066;
  border-radius: 5px;
}
.conta_{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
}